@{
    Layout = "../Shared/_Layout.cshtml";
}   

<div data-ng-controller="MyController">
    
<p>My Name = {{ myName }}</p>

</div>

<script type="text/javascript">
    MyController = function($scope) {
        $scope.myName = 'Harry Chou';
    };
</script>
