@{
    Layout = "../Shared/_Layout.cshtml";
}        

<p>
    <ul>
        <li>Plain HTML with AngularJS <a href='@Url.Action("PlainHtml")'><i class='glyphicon glyphicon-arrow-right'></i> Go </a></li>
        <li>Client-Side HTML with AngularJS Controller <a href='@Url.Action("ClientSideHtmlWithController")'><i class='glyphicon glyphicon-arrow-right'></i> Go </a></li>
    </ul>
</p>
