@{
    Layout = "../Shared/_Layout.cshtml";
}   

<p>Simple Calculation: 3 + 4 = {{ 3 + 4 }}</p>

<p>Array Length: {{ [1, 2, 3].length }}</p>

<p>Object Property: {{ {name:'Harry', age:25}.name }}</p>

<p>Not full Javascript Expressions: {{ $('h2').text() }}</p>

<p>Automatically empty out undefined or null object to avoid javascript error: {{ a+b }}</p>

<script type="text/javascript">
//                alert(a + b);
</script>
